erupt-app:
  # 登录失败几次，需要验证码
  verifyCodeCount: 2
spring:
  datasource:
    url: jdbc:mysql://mrbus.net:3306/chaojibus?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: dev
    password: 123456
    hikari:
      timeout: 60000
      maximum-pool-size: 30
      minimum-idle: 10
      max-lifetime: 60000
      auto-commit: true
  jpa:
    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database: mysql
  redis:
    timeout: 1000
    host: localhost
    port: 6379
    jedis:
      pool:
        max-active: 300
        max-wait: -1
        min-idle: 20
        max-idle: 100
    dbs: 0,1,2,3,4,5

server:
  servlet:
    context-path: /admin
  # 启用 gzip 压缩
  compression:
    mime-types: application/javascript,text/css,application/json,application/xml,text/html,text/xml,text/plain
    enabled: true
  error:
    includeException: true
    includeStacktrace: ALWAYS
    includeMessage: ALWAYS
  port: 8080
#时间戳统一转换
　jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8